<!-- <div class="bg-lime-100">
    <h1>Hello this is my blog website </h1>
    <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>
</div> -->

<head>
  <link href="../styles/styles.css" rel="stylesheet">
</head>

<div class="jumbotron centered">
    <div class="container">
      <i class="fas fa-key fa-6x"></i>
      <div>
        <h1 class="display-3">MyBlogs</h1> 
        <h3>if y wish to add blogs , register and become a member</h3>
       <a class="btn btn-light btn-lg" href="/register" role="button">Register</a>
      <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>
  
      </div>
      <p class="lead">A blog template made for influencers</template>!</p>
      <hr>
      <br>
     <input type="text" width="600" placeholder="Search for the blog of your interest ">


     <br> <br>
    <div>
      <button>Technology </button>    
      <button>Food </button>    
      <button>Banking  </button>    
      <button>Travel </button>    
      <button>Health </button>   
    </div> 
    </div>

<div class="blog-card">
  <%blogs%>
  <h1>Some blogs on the website</h1>
  <% blogs.forEach(blog => { %>
    <div class="card">
      <h3><%= blog.title %></h2>
      <h4><%=blog.author%></h4>
      <h5><%=blog.pdate%></h5>
      <h5><%=blog.interest%></h5>
      <p><%= blog.blogcontent %></p>
    </div>
  <% }) %>
  
</div>



  </div>
  